.main-wrapper {
    margin: 0 auto;
}

.container-content {
    padding: 0 15px;
}
.chart__diagramm{
    width: 100%;
    height: auto;
}


.blue {
    color: #00bcd4;
}

.separator {
    height: 2px;
    background: #242427;
}

.sup {
    vertical-align: super;
    font-size: .65em;
}

/* SCHEDULE */
.schedule {
    background-image: url("../img/noize-light.png");
    padding: 35px 15px;
}
.schedule-wrapper {
    margin: 0 15px;
}
.schedule-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.schedule-heading__sub {
    font-weight: 800;
    width: 80%;
    margin: 0 auto;
}
.schedule-heading__sub span {
    display: block;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0;
}

.schedule-heading__sub .offline {
    text-align: right;
}

.schedule-content {
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.19);
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.day-heading {
    display: flex;
}
.day-heading__gray {
    flex: 1;
    box-sizing: border-box;
    padding: 5px 15px;
    background: #cecece;
    font-weight: 800;
    text-align: right;
}
.day-heading__time {
    flex: 1;
    box-sizing: border-box;
    padding: 5px 15px;
    color: #00bcd4;
    font-weight: 600;
    text-align: right;
}

.day-content {
    padding: 10px 15px;
    line-height: 24px;
    font-size: 14px;
}

.schedule-calendar {
    display: none;
}


@media only screen and (min-width:768px) {
    .schedule-heading {
        font-size: 32px;
    }
    .schedule-heading__sub {
        width: 60%;
    }
    .schedule-heading__sub .online {
        display: inline-block;
        background: #242427;
        padding: 7px 12px 5px;
        margin-left: 100px;
    }
    .schedule-calendar {
        display: block;
    }
}