.main-wrapper {
    margin: 0 auto;
}

.container-content {
    padding: 0 15px;
}
.chart__diagramm{
    width: 100%;
    height: auto;
}

.schedule {
    background-image: url("../img/noize-light.png");
}
